* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Catamaran", sans-serif;
  background: rgba(0, 0, 0, 0.05);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", sans-serif;
}
q {
  font-family: "Parisienne", cursive;
}
a {
  transition: all 0.5s;
}
a:hover {
  opacity: 0.5;
}
